@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap');

:root {
    --color-primary: #05d7e6;
    --color-secondary: #ff296d;
    --color-background: #01012d;
    --color-text: #ff296d;
    --color-light: #fff;
    --color-anchor: var(--color-primary);
    --font-family: 'Plus Jakarta Sans', sans-serif;
    --font-weight-strong: 600;
    --font-size-h1: 6rem;
    --font-size-h2: 3rem;
    --font-size-h3: 2rem;
    --font-size-h4: 1.35rem;
    --font-size-text: 22px;
    --border-radius: 8px;
}

/*
 * [Modified] Modern CSS Reset
 * @link https://github.com/hankchizljaw/modern-css-reset
*/
/* Box sizing rules */
*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    font-size: 100%;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}


h1,
h2,
h3,
h4 {
    font-weight: var(--font-weight-strong);
    line-height: 1.1;
    margin-bottom: 0.65em;
    color: var(--color-primary);
}

h1 {
    font-size: var(--font-size-h1);
    font-size: clamp(3rem, 7vw, var(--font-size-h1));
}

h2 {
    font-size: var(--font-size-h2);
    font-size: clamp(1.5rem, 4vw, var(--font-size-h2));
}

h3 {
    font-size: var(--font-size-h3);
    font-size: clamp(1.35rem, 4vw, var(--font-size-h3));
}

h4 {
    font-size: var(--font-size-h4);
}

p,
li {
    font-size: var(--font-size-text);
}

p {
    margin: 0 0 1rem;
}

ol {
    padding-left: 1rem;
}

article .container>ol>li+li {
    margin-top: 1rem;
}

article .container *+h2 {
    margin-top: 4rem;
}

article .container *+h3,
section h3:first-child {
    margin-top: 2rem;
}

strong {
    font-weight: var(--font-weight-strong);
}

a {
    color: var(--color-anchor);
    -webkit-transition: 180ms all ease-in;
    transition: 180ms all ease-in;
}

a:hover,
a:focus {
    color: var(--color-secondary);
}

body {
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: var(--font-family);
    padding: 5vmin;
}


main {
    padding-top: 10vh;
    padding-bottom: 5vh;
}

main>div.container {
    display: grid;
    grid-gap: 4rem;
}

main>div.container #about {
    display: grid;
    grid-gap: 4rem;
}

main:focus {
    outline: none;
}

main h3 {
    color: var(--color-secondary);
    display: grid;
    grid-template-columns: -webkit-min-content auto -webkit-min-content;
    grid-template-columns: min-content auto min-content;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    grid-gap: 0.5em;
    text-align: center;
}

main h3::before,
main h3::after {
    content: "";
    width: 10vw;
    border-top: 1px solid var(--color-secondary);
}

article section:nth-child(2) ul {
    grid-template-columns: repeat(auto-fit, minmax(12ch, 1fr));
    padding: 0;
}

article section:nth-child(2) ul li {
    word-break: break-word;
    color: var(--color-secondary);
}

article section:nth-child(2) ul li:nth-child(odd) {
    color: var(--color-light);
}

blockquote {
    margin: 2rem auto;
    padding: 0 2rem;
    border-left: 2px solid var(--color-secondary);
    color: var(--color-light);
}

blockquote p {
    margin-bottom: 0;
}

blockquote strong {
    color: var(--color-secondary);
    font-size: 1.1em;
}

article .container,
.page-footer .container,
#styles .container {
    width: 100%;
    max-width: 80ch;
    margin-right: auto;
    margin-left: auto;
}

nav ul,
.profile ul,
.page-footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

header {
    color: var(--color-primary);
    min-height: 80vh;
    margin-bottom: 5vh;
}

header img {
    width: 40%;
    display: block;
}

@media (min-width: 600px) {
    header {
        background-position-y: 10rem;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0.01;
        -webkit-transform: translateY(25%);
        transform: translateY(25%);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0.01;
        -webkit-transform: translateY(25%);
        transform: translateY(25%);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@-webkit-keyframes colorFill {
    0% {
        opacity: 0;
        color: transparent;
    }

    10% {
        opacity: 1;
        color: transparent;
    }

    30% {
        color: transparent;
    }

    100% {
        opacity: 1;
        color: var(--color-secondary);
    }
}

@keyframes colorFill {
    0% {
        opacity: 0;
        color: transparent;
    }

    10% {
        opacity: 1;
        color: transparent;
    }

    30% {
        color: transparent;
    }

    100% {
        opacity: 1;
        color: var(--color-secondary);
    }
}

header p a {
    color: var(--color-light);
}

header h2,
header p {
    opacity: 0.01;
    -webkit-animation: fadeIn 450ms ease-in 300ms forwards;
    animation: fadeIn 450ms ease-in 300ms forwards;
}

header h2 {
    max-width: 30ch;
}

header p {
    color: var(--color-text);
}

nav {
    position: sticky;
    top: 0;
    z-index: 1;
}

nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: var(--color-primary);
}

nav ul a {
    display: inline-grid;
    padding: 0.5rem 1rem;
    color: var(--color-background) !important;
    font-size: 1.25rem;
    font-size: clamp(0.9rem, 3vw, 1.25rem);
    text-decoration: none;
}

nav ul a:hover,
nav ul a:focus {
    background-color: var(--color-secondary);
}


.profile {
    position: sticky;
    z-index: 2;
    bottom: -1px;
    background-color: var(--color-background);
    margin: 10vh auto;
    padding: 2vh 0;
    border-top: 6px var(--color-secondary);
    border-bottom: 1px solid var(--color-secondary);
}

.profile .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.profile .container>* {
    margin: 0.5rem;
}

.profile ul {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.profile ul li {
    padding: 0.5rem;
}

.profile ul li span:first-child {
    display: block;
    font-weight: 600;
    color: var(--color-light);
}

.profile ul li span:last-child {
    word-break: break-word;
}

.profile ul li span:last-child a {
    color: inherit;
}


.page-footer {
    margin-top: 10vh;
    padding: 2rem 0;
    position: relative;
}

.page-footer::before {
    content: "";
    border-top: 1px solid var(--color-primary);
    width: 10ch;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.page-footer p:first-child {
    color: var(--color-secondary);
    font-size: 1.125rem;
    text-align: center;
}

.page-footer p:first-child a {
    color: inherit;
}

.page-footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.page-footer ul>* {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 15ch;
    flex: 1 1 15ch;
}

.page-footer a {
    display: inline-block;
}


[class^="link"]:not(.link-codepen) {
    min-height: 3em;
    background-color: var(--color-secondary);
    color: var(--color-background);
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0 0.75em;
    -webkit-transition: 180ms all ease-in-out;
    transition: 180ms all ease-in-out;
    font-size: 1.125rem;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    border: 2px solid transparent;
}

[class^="link"]:not(.link-codepen):hover,
[class^="link"]:not(.link-codepen):focus,
.profile .container>a:hover,
.profile .container>a:focus {
    background-color: var(--color-background);
    color: var(--color-secondary);
    border-color: var(--color-secondary);
}

.page-footer [class^="link"] {
    width: 100%;
    min-height: 2.5em;
    background-color: var(--color-background);
    color: var(--color-primary);
}

.link-github svg {
    width: 1em;
    height: 1em;
    margin-right: 0.25em;
    fill: currentColor;
}

.link-github {
    font-size: 1rem;
    min-height: 2.5em;
    margin-top: 3vmin;
}

a.link-github {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #000000;
    padding: 0.5em 2em;
    background-color: hsl(var(--dec));
    border: 3px solid hsl(var(--dec));
    -webkit-transition: 200ms ease-in-out all;
    transition: 200ms ease-in-out all;
    font-size: 22px;
    font-family: var(--font-head);
    margin-top: 1%;
}

a.link-github:hover {
    background-color: transparent;
    color: hsl(var(--light));
}

a.link-github::after {
    display: none;
}

a.link-github svg {
    width: 1em;
    fill: #000000;
    margin-right: 0.5em;
    -webkit-transition: 300ms cubic-bezier(0.075, 0.82, 0.165, 1) all;
    transition: 300ms cubic-bezier(0.075, 0.82, 0.165, 1) all;
}

a.link-github:hover svg {
    fill: hsl(var(--light));
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap row;
    width: 100%;
    height: 100vh;
}

.card-row {
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    min-width: 70%;
    gap: 50px;
    height: 60%;
}



.card {
    background-color: var(--color-background);
    border-radius: 10px;
    min-width: 100px;
    max-width: 500px;
    padding: 20px;
    text-align: center;
    border: 3px transparent solid;
    transition: all ease 0.3s;
    box-shadow: 1px 1px 5px 0 rgb(0 0 0 / 50%);
}

.card:hover {
    border: 3px var(--color-text) solid;
    box-shadow: 1px 1px 30px 0 rgb(0 0 0 / 50%);
    transform: translateY(-5%);
}

a {
    text-decoration: none;
    font-size: 20px;
}

a.blue {
    color: var(--color-primary);
}

a.white {
    color: white;
}